.form {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 50px 30px 40px;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.form-fields-container {
  width: 100%;
}

.form-field {
  margin-bottom: 20px;
}

.form-field-label {
  display: block;
  margin-bottom: 10px;
}

.form-field-input {
  display: block;
  width: 100%;
  color: #666;
  font-size: 14px;
  padding: 8px 10px;
  border: 1px solid #9E9E9E;
  transition: border-color .2s;
}

.form-field-input:hover,
.form-field-input:focus {
  border-color: #54bffd;
}

.form .button {
  width: 100%;
  margin-top: 15px;
}
